.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates


**/bin/
**/obj/
**/Debug/
**/Release/


*.dbmdl
*.jfm
.env
appsettings*.json
!appsettings.Development.json  # Keep specific configuration files, if needed
appsettings*.local.json


*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/
packages/
.nuget/

.idea/

*.log

coverage/
*.coverage
*.coveragexml

Generated/

_ReSharper.Caches/

# Ignore database migration files
Migrations/

# Ignore Docker files
docker-compose.override.yml
docker-compose.override.yaml
docker-compose.debug.yml

# Ignore any other folders that should not be in source control
local.settings.json
*.launch.json

# Ignore testing-related files
test-results/
